body {
    padding:0;
    margin:0;
}

#id-container {
    font-size: 30px;
    color: gray;
}

#id {
    font-weight: bold;
    color: lightgreen;
}

#remote-video {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#local-video {
    position: fixed;
    top: 0;
    right: 0;
    width: 200px;
    object-fit: cover;
}
